[run]
omit =
    .tox/*
    tests/*
    setup.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
    conftest.py
